body {
  margin: 0;
  background-color: #008542;
}
#inner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    font-family: 'Baloo Chettan', cursive;
    font-size: 72px;
    display: inline-block;
    color: #FFF;
  }
  i {
    color: #FFF;;
    display: inline-block;
  }
}